body{
    margin: 0;
    padding: 0;
    font-family: "Lato", "Arial", sans-serif;
    background-color: #ccc;
}

.page-container{
    max-width: 960px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 32px;
}

/*----------HEADER---------*/
header{
    
    height: 300px;
    padding: 4px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)),url(../img/dugoutpano.jpg);
    background-size:auto;
    background-position: top;
    background-attachment: fixed;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}

/*----------MAIN-NAV---------*/
.main-nav{
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #555;
}

ul.main-nav{
    margin-top: 15px;
}

.main-nav li{
    display: inline;
    padding: 0 30px 0 30px;
    font-size: 16px;
}

.main-nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}

.main-nav a:hover{
    color: #f21c1c;
}


.blueberry{
    max-width: 960px;
}

/*----------HOME-PAGE-SECTION---------*/

.home-page-section{
    padding: 5px;
    background-color: #ffc2c2;
    border: 2px solid #555;
    border-radius: 10px;
}

.home-page-section h1{
    font-size: 250%;
}

.home-page-section h1, h2{
    text-align: center;
}

.home-page-section ul{
    padding: 0 130px;
}

.home-page-section li{
    margin-bottom: 10px;
    text-align: justify;
}

#wrapper{
    display: block;
    width: 800px;
    height: 533px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#container{
    background-color: aquamarine;
    float: left;
    width: 800px;
    height: 533px;
    overflow: auto;
}

#prev{
    background-image: url(../img/leftarrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left;
    height: 533px;
    width: 170px;
    position: relative;
    z-index: 99;
    opacity: .5;
}

#next{
    background-image: url(../img/rightarrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: right;
    height: 533px;
    width: 170px;
    position: relative;
    z-index: 99;
    opacity: .5;
}

#slider{
    display: block;
    float: left;
    width: 800px;
    height: 533px;
    overflow: hidden;
    position: absolute;
}

/*----------SCHEDULE---------*/
.schedule-table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 4px solid #fff;
    border-spacing: 0;
}

.cell{
    padding: 8px;
    background-color: #fff;
    border: 3px solid #ccc;
}

/*----------PHOTOS---------*/

.gallery{
    margin-right: auto;
    margin-left: auto;
}

.gallery a{
    text-decoration: none;
}

.photo{
    display: inline;
    width: 20%;
    margin-left: 85px;
    margin-bottom: 60px;
    border: 5px ridge #ccc;
}

/*----------ROSTER---------*/

.roster-table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 4px solid #fff;
    border-spacing: 0;
}


/*----------INFORMATION---------*/

.club-info h3{
    margin: 0 15px;
}

.bio{
    margin: 0 50px;
    text-align: justify;
}

.exec-board{
    text-align: center;
}

/*----------STATS---------*/
.stats-table{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 4px solid #fff;
    border-spacing: 0;
}

.stats-cell{
    padding: 5px;
    background-color: #fff;
    border: 3px solid #ccc;
    text-align: center;
}

/*----------CONTACT---------*/
.contact-info p{
    text-align: center;
}

.cell a{
    color: #000;
}

/*----------FOOTER---------*/
footer{
    background-color: #333;
    padding: 20px 50px 20px 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
    
}

.social-links{
    list-style: none;
    text-align: center;
}

.footer-nav li, .social-links li{
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child, .social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px
}



